# Visual Studio cache/options
.vs/

# Sensitive settings
MinimalAPIsMovies/appsettings.Development.json

# Build results
MinimalAPIsMovies/bin
MinimalAPIsMovies/obj

# User-specific files
*.user
*.suo

# Logs
*.log
logs/